<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="swissupInfoCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\InfoCommand</item>
                <item name="swissupInfoVirtualfixCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\InfoVirtualfixCommand</item>
                <item name="swissupAssetsCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\AssetsCommand</item>
                <item name="swissupDisableSwissupCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\DisableSwissupCommand</item>
                <item name="swissupEnableSwissupCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\EnableSwissupCommand</item>
                <item name="swissupDisableThirdpartyCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\DisableThirdpartyCommand</item>
                <item name="swissupEnableThirdpartyCommand" xsi:type="object">Swissup\Diagnostic\Console\Command\EnableThirdpartyCommand</item>
            </argument>
        </arguments>
    </type>
</config>
